.btn-file {
  position: relative;
  overflow: hidden;
  height: 80%:
}
.btn-file input[type=file] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: inherit;
}
.uploadpreview{
width:134px;
height:134px;
display:block;
border:1px solid #ccc;
background-size:100% auto;
background-repeat:no-repeat;
background-position:center;
}
.upload-wrap{
float:left;
margin-right:3%;
}

/* Image card admin */
.img-card-admin {
  height: 250px;
  object-fit: cover;
}
/* Image card admin */
.btn-blueprop {
   background-color: #021927;
   color: white;
}
.btn-redprop {
   background-color: #fc384a;
   color: white;
}
.btn-blueprop:hover {
   background-color: #021927;
   color: white;
}
.btn-redprop:hover {
   background-color: #fc384a;
   color: white;
}
