.fs-14 {font-size: 14px !important;font-weight: 500 !important;}
.fs-12 {font-size: 12px !important;}
.btn-email {
  background-color: #ff385c !important;
  color: #fff !important;
}
.fm-input {
  border-color: none !important;
  box-shadow: none !important;
}
